
<form #loginForm="ngForm" >
    <div class="row">
        <div class="config">
        <h2>Atualizar Token</h2>
        </div>
    </div>
    <div class="row">
        <button mat-raised-button (click)="generatetoken()">
            Gerar Token
        </button>
    </div>
    <br/><br/>
    <div class="row">
        <mat-form-field class="small">
            <mat-label>Client Id</mat-label>
            <input matInput required type="password" [(ngModel)]="clientId" name="clientId" (ngModelChange)="change()">
        </mat-form-field>
    </div>
    <div class="row">    
        <mat-form-field class="small">
            <mat-label>Client Secret</mat-label>
            <input matInput required type="password" [(ngModel)]="clientSecret" name="clientSecret" (ngModelChange)="change()">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="small">
            <mat-label>Token Brevo</mat-label>
            <input matInput required type="password" [(ngModel)]="tokenBrevo" name="tokenBrevo" (ngModelChange)="change()">
    
            <button class="visibili" matSuffix (click)="linkTokenBrevo()">
        </button>
        </mat-form-field>
    </div>
    <div class="row">
        <h2>Remetente</h2>
        <br/><br/><br/>
    </div>
    <div class="row">
        <mat-form-field class="small">
            <mat-label>E-mail</mat-label>
            <input matInput required type="email" [(ngModel)]="emailRemetente" name="emailRemetente" (ngModelChange)="change()">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="small">
            <mat-label>Senha</mat-label>
            <input matInput required type="password" [(ngModel)]="password" name="password" (ngModelChange)="change()">
        </mat-form-field>
    </div>
    <div class="row">
        <h2>Destinatários</h2>
        <br/><br/><br/>
    </div>
    <div class="row">
        <mat-form-field class="small">
            <mat-label>E-mails Log (;)</mat-label>
            <textarea matInput [(ngModel)]="emaildestinatarios" name="emaildestinatarios" (ngModelChange)="change()"></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="small">
            <mat-label>E-mails Cópia (;)</mat-label>
            <textarea matInput [(ngModel)]="emaildestinatariosCopy" name="emaildestinatariosCopy" (ngModelChange)="change()"></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <button mat-raised-button type="submit" (click)="submit()" [disabled]="!loginForm.valid">Salvar</button>
    </div>
    </form>
