<div class="row">
  <div class="title">
    <h2>Enviar para {{dados.caminhoPasta}}</h2>
  </div>
</div>
<div class="row">
    <div class="demo-button-container">
      <div class="contact">
        <div class="button">
          <button
            mat-raised-button
            (click)="log()"
            class="demo-button">
            Log
          </button>
          <button
            mat-raised-button
            (click)="Register()"
            class="demo-button">
            Cadastro
          </button>
        </div>
      </div>
      <div class="contact">
        <div class="input">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput required [(ngModel)]="emailPending" name="emailPending">
          </mat-form-field>
          <button 
            mat-raised-button 
            (click)="sendEmail()" 
            class="demo-button">
            E-mail
          </button>
        </div>
        <div class="input">
          <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input matInput required [(ngModel)]="telefonePending" name="telefonePending">
          </mat-form-field>
          <button
            mat-raised-button
            (click)="whatsapp()"
            class="demo-button">
            WhatsApp
          </button>
        </div>
      </div>
    </div>
  </div>
