
<nav>
    <div class="menu">
      <h2>
        SN Monitor 
      <br/> 
        <i>{{this.user.name}}</i>
      </h2>
      
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon><img src="../../assets/menu.svg" alt=""></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="perfil()">
          <span>Perfil</span>
        </button>
        <button mat-menu-item  (click)="passwordNew()">
          <span>Alterar Senha</span>
        </button>
        <button mat-menu-item  (click)="config()">
          <span>Configuração</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="submenu">
          Cadastro
        </button>
        <mat-menu #submenu="matMenu">
          <button mat-menu-item (click)="addCompany()">
            <span>Empresa</span>
          </button>
          <button mat-menu-item  (click)="addUser()">
            <span>Usuário</span>
          </button>
        </mat-menu>
        <button mat-menu-item  (click)="auth.signOut()">
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
    <div class="filter">
      <button mat-menu-item  (click)="refresh()">
        <span>Carregar</span>
      </button>

      <mat-checkbox [(ngModel)]="isChecked" (change)="checkboxChanged()" (ngModelChange)="changecheckbox(isChecked)">Pendente</mat-checkbox>

      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </div>
</nav>

<section>
    <div id="table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.checked" (ngModelChange)="change(element)">{{element.row}}</mat-checkbox>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="%">
          <th mat-header-cell *matHeaderCellDef> % </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="getColorStyle(element)"
          > {{element.percentage}} </td>
        </ng-container>


        <ng-container matColumnDef="caminhoPasta">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element" (click)="rowClickedPending(element)"> {{element.caminhoPasta}} </td>
        </ng-container>

        <ng-container matColumnDef="dateCurrent">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element" (click)="rowClickedPending(element)"> {{element.dateCurrent}} </td>
        </ng-container>
      
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" >
            <!-- {{changestatus(element)}} -->
            <!-- <input class="select" type="text" placeholder="" aria-label="Qtd. lojas" matInput [formControl]="myControlsituations" [matAutocomplete]="auto" required [(ngModel)]="situation" name="situation">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let situation of situations" [value]="situation">{{situation}}</mat-option>
            </mat-autocomplete> -->
            {{element.status}}
          </td>
        </ng-container>
        

        <ng-container matColumnDef="nameCurrent">
          <th mat-header-cell *matHeaderCellDef> Arq. Atual </th>
          <td mat-cell *matCellDef="let element" (click)="rowClickedPending(element)"> {{element.nameCurrent}} </td>
        </ng-container>

        <ng-container matColumnDef="sizeCurrent">
          <th mat-header-cell *matHeaderCellDef> Tam. Atual </th>
          <td mat-cell *matCellDef="let element" (click)="rowClickedPending(element)"> {{element.sizeCurrent}} </td>
        </ng-container>

        <ng-container matColumnDef="namePrevious">
          <th mat-header-cell *matHeaderCellDef> Arq. Anterior </th>
          <td mat-cell *matCellDef="let element" (click)="rowClickedPending(element)"> {{element.namePrevious}} </td>
        </ng-container>

        <ng-container matColumnDef="sizePrevious">
          <th mat-header-cell *matHeaderCellDef> Tam. Anterior </th>
          <td mat-cell *matCellDef="let element" (click)="rowClickedPending(element)"> {{element.sizePrevious}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">Nenhum dado correspondente ao filtro "{{input.value}}"</td>
        </tr>
      </table>
    </div>
    <div>{{this.user.name}}</div>
</section>

